node_modules

# Output
.output
.vercel
.netlify
.wrangler
wrangler.json
/.svelte-kit
/build
/package

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite / Logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.log
logs

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.zed

static/emulatorjs
static/ruffle
emulatorjs_temp